nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #93d4e4;
}

.header-under {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #bdf0fc;
}

h1 {
    font-size: 330%;
    margin-left: 0.6rem;
    font-family: sans-serif;
    color: #063054;
    cursor: pointer;
}

.logo {
    height: 8rem;
    margin: 0.4rem 0.6rem 0.18rem 0.3rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.buttons {
    font-size: 120%;
    font-weight: bold;
    background-color: #93d4e4;
    color: #063054;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 5rem 0.5rem 5rem;
    cursor: pointer;
}

.buttons:hover {
    color: #f2f7f9;
    background-color: #6caabf;
}