.flexi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.post {
    color: #004b8c;
    font-family: sans-serif;
    cursor: pointer;
    list-style: none;
    width: 14rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: 1.7px solid #126f79;
    border-radius: 1.5rem;
    background-color: #d5f8fd;
}

.imgi {
    border-radius: 4rem;
    height: 10rem;
}



